html,
body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

body {
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.App {
	font-family: sans-serif;
	text-align: center;
}

ul {
	list-style: none;
	display: flex;
}

.item {
	color: black;
	background-color: transparent;
	font-size: 20px;
	padding: 20px 60px;
	border-radius: 5px;
	margin: 10px 0px;
	cursor: pointer;
	border: none;
	position: relative;
}
.item-black {
	color: black;
}
.item-white {
	color: white;
}

.outline {
	position: absolute;
	width: fill-available;
	height: fill-available;
	background-color: rgb(91, 91, 253);
	left: 0;
	top: 0;
	z-index: -1;
	border-radius: 20px;
}
